---
import { Image } from 'astro:assets'
import FormattedDate from '../components/FormattedDate.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'
import profileImage from '../assets/profile.jpg'
import Tag from '../components/Tag.astro'

const posts = (await getCollection('blog'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((post) => !post.data.hidden)
---

<BaseLayout>
  <main>
    <div
      class="mx-auto flex flex-col gap-18 px-8 pt-8 pb-16 lg:w-[clamp(958px,90vw,1200px)] lg:flex-row lg:px-0"
    >
      <div class="top-8 mx-auto w-56 shrink-0 self-start lg:sticky">
        <Image
          src={profileImage}
          alt="Ronald Rey"
          class="mb-8 h-48 w-48 rounded-full object-cover"
        />

        <h1 class="text-3xl font-bold text-slate-200">Ronald Rey</h1>
        <p class="mb-4 text-2xl text-slate-400">Software Engineer</p>

        <div class="space-y-5">
          {
            [
              {
                href: 'https://github.com/reyronald',
                label: '@reyronald',
                sronly: "Go to Ronald's GitHub repo",
                icon: (
                  <svg
                    viewBox="0 0 16 16"
                    aria-hidden="true"
                    width="32"
                    height="32"
                  >
                    <path
                      fill="currentColor"
                      d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                    />
                  </svg>
                ),
              },
              {
                href: 'https://twitter.com/reyronald',
                label: '@reyronald',
                sronly: 'Follow Ronald on Twitter',
                icon: (
                  <svg
                    viewBox="0 0 16 16"
                    aria-hidden="true"
                    width="32"
                    height="32"
                  >
                    <path
                      fill="currentColor"
                      d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
                    />
                  </svg>
                ),
              },
              {
                href: 'https://bsky.app/profile/reyronald.bsky.social',
                label: '@reyronald',
                sronly: 'Follow Ronald on BlueSky',
                icon: (
                  <svg
                    fill="none"
                    viewBox="0 0 64 57"
                    width="32"
                    height="32"
                  >
                    <path
                      fill="currentColor"
                      d="M13.873 3.805C21.21 9.332 29.103 20.537 32 26.55v15.882c0-.338-.13.044-.41.867-1.512 4.456-7.418 21.847-20.923 7.944-7.111-7.32-3.819-14.64 9.125-16.85-7.405 1.264-15.73-.825-18.014-9.015C1.12 23.022 0 8.51 0 6.55 0-3.268 8.579-.182 13.873 3.805ZM50.127 3.805C42.79 9.332 34.897 20.537 32 26.55v15.882c0-.338.13.044.41.867 1.512 4.456 7.418 21.847 20.923 7.944 7.111-7.32 3.819-14.64-9.125-16.85 7.405 1.264 15.73-.825 18.014-9.015C62.88 23.022 64 8.51 64 6.55c0-9.818-8.578-6.732-13.873-2.745Z"
                    />
                  </svg>
                ),
              },
              {
                href: 'https://www.linkedin.com/in/reyronald',
                label: '@reyronald',
                sronly: 'Follow Ronald on LinkedIn',
                icon: (
                  <svg
                    viewBox="0 0 34 34"
                    aria-hidden="true"
                    width="32"
                    height="32"
                  >
                    <path
                      fill="#0a66c2"
                      d="M34 2.5v29a2.5 2.5 0 0 1-2.5 2.5h-29A2.5 2.5 0 0 1 0 31.5v-29A2.5 2.5 0 0 1 2.5 0h29A2.5 2.5 0 0 1 34 2.5M10 13H5v16h5zm.45-5.5a2.88 2.88 0 0 0-2.86-2.9H7.5a2.9 2.9 0 0 0 0 5.8 2.88 2.88 0 0 0 2.95-2.81zM29 19.28c0-4.81-3.06-6.68-6.1-6.68a5.7 5.7 0 0 0-5.06 2.58h-.14V13H13v16h5v-8.51a3.32 3.32 0 0 1 3-3.58h.19c1.59 0 2.77 1 2.77 3.52V29h5z"
                      display="var(--svgDisplayLight)"
                    />
                    <path
                      fill="#fff"
                      d="M34 2.5v29a2.5 2.5 0 0 1-2.5 2.5h-29A2.5 2.5 0 0 1 0 31.5v-29A2.5 2.5 0 0 1 2.5 0h29A2.5 2.5 0 0 1 34 2.5M10 13H5v16h5zm.45-5.5a2.88 2.88 0 0 0-2.86-2.9H7.5a2.9 2.9 0 0 0 0 5.8 2.88 2.88 0 0 0 2.95-2.81zM29 19.28c0-4.81-3.06-6.68-6.1-6.68a5.7 5.7 0 0 0-5.06 2.58h-.14V13H13v16h5v-8.51a3.32 3.32 0 0 1 3-3.58h.19c1.59 0 2.77 1 2.77 3.52V29h5z"
                      display="var(--svgDisplayDark)"
                    />
                  </svg>
                ),
              },
            ].map(({ href, sronly, icon, label }) => (
              <a
                href={href}
                target="_blank"
                rel="noopener noreferrer"
                class="flex space-x-3 text-2xl hover:text-slate-100"
              >
                <span class="sr-only">{sronly}</span>
                {icon}
                <span>{label}</span>
              </a>
            ))
          }
        </div>
      </div>

      <div>
        <div class="space-y-4">
          <p>I build software using web technologies.</p>

          <p>
            I've been fortunate enough to work with a wide variety of
            tech stacks throughout my career, giving me a perspective
            that I've come to discover is rare in today's industry.
          </p>

          <p>
            These days, I lead teams in crafting modern, slick,
            performant, and elegant web applications following the
            industry's latest best practices across the full stack.
          </p>

          <p>
            Specialist in TypeScript/JavaScript, React, Node.js, Go,
            browsers, and all things web. Previously worked with PHP,
            C#, Java and Python, to various degrees.
          </p>
        </div>

        <hr class="my-10 border-zinc-700" />

        <div class="flex flex-col space-y-8">
          {
            posts.map((post) => (
              <a
                href={`/blog/${post.id}/`}
                class="block overflow-hidden rounded-lg bg-zinc-900/50 pb-4 hover:bg-zinc-900"
              >
                <article class="flex flex-col gap-8">
                  {post.data.hero && (
                    <div>
                      <Image
                        width={1000}
                        height={420}
                        src={post.data.hero.src}
                        alt={post.data.title}
                        class="aspect-720/360 h-auto w-full object-cover"
                        data-blurhash={post.data.hero.blurhash}
                      />
                    </div>
                  )}

                  <div
                    class={`px-4 ${!post.data.hero.src ? 'pt-4' : ''}`}
                  >
                    <h2 class="text-3xl font-bold text-slate-300">
                      {post.data.title}
                    </h2>
                    <div class="my-3">
                      <span class="mr-2 text-base text-slate-300">
                        <FormattedDate date={post.data.pubDate} />
                      </span>

                      {post.data.tags.map((tag) => (
                        <Tag tag={tag} />
                      ))}
                    </div>
                    <p>{post.data.description}</p>
                  </div>
                </article>
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </main>
</BaseLayout>

<script>
  import '../utils/initSound'
  import '../utils/blurhash'
</script>
