---
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '../components/FormattedDate.astro'
import BaseLayout from './BaseLayout.astro'
import Header from '../components/Header.astro'
import Tag from '../components/Tag.astro'

type Props = CollectionEntry<'blog'>['data'] & { id: string }

const { title, pubDate, heroImage, tags, blurhash } = Astro.props
---

<BaseLayout>
  <Header />

  <main>
    <div class="mx-auto max-h-120 w-full overflow-hidden">
      {
        heroImage && (
          <Image
            width={1000}
            height={420}
            src={heroImage}
            alt={title}
            class="aspect-1000/420 w-full object-cover object-bottom"
            data-blurhash={blurhash}
          />
        )
      }
    </div>

    <article class="space-y-4 py-12">
      <h1 class="text-6xl font-bold text-slate-300">{title}</h1>

      <div class="text-lg text-slate-400">
        Ronald Rey / <FormattedDate date={pubDate} />
      </div>

      {tags.map((tag) => <Tag tag={tag} />)}

      <hr class="my-8" />

      <div class="space-y-8 text-justify">
        <slot />
      </div>
    </article>

    <a href="/" class="block pb-16 text-center hover:text-slate-100"
      >← Back to home</a
    >
  </main>
</BaseLayout>

<style is:global>
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    text-align: left;
    color: var(--color-slate-300);
  }

  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.5rem;
  }

  article {
    --w: 1100px; /* the max-width */
    --m: 1em; /* margin on small screen */
    --_m: max(var(--m), 50cqw - var(--w)/2);

    margin-inline: var(--_m);

    a {
      text-decoration: underline;

      &:hover {
        color: var(--color-slate-100);
      }
    }

    img {
      display: block;
      margin-inline: auto;
      max-width: 100%;
      height: auto;
    }
  }

  /* pre {
    margin-inline: min(-1 * var(--m), var(--w) / 2 - 50cqw);
    padding: 1rem;
    display: grid;
    place-items: center;
    overflow-x: auto;
    background-color: var(--color-gray-900) !important;
  }

  pre code {
    display: block;
    min-width: min-content;
  } */

  ol li {
    list-style: decimal;
    margin-left: 1.5rem;
  }

  .expressive-code {
    figure.frame {
      pre {
        background-color: var(--color-gray-900);
      }
    }
  }

  /* .expressive-code {
    margin-inline: min(-1 * var(--m), var(--w) / 2 - 50cqw);

    background-color: var(--color-gray-900) !important;

    figure.frame {
      width: fit-content;
      margin-inline: auto;
      box-shadow: none;

      pre {
        background-color: var(--color-gray-900);
        border: none;
      }
    }
  } */
</style>

<script>
  import '../utils/initSound'
  import '../utils/blurhash'
</script>
